<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-slides autoplay="2000" loop="true" pager="true">
      <ion-slide  *ngFor="let number of [1,2,3,4,5]">
        <img src="./assets/image/{{number}}.jpg"/>
        <!-- <img src="https://place-hold.it/350x200"/> -->
      </ion-slide>
      
    </ion-slides>
  </ion-card>

  
</ion-content>
